:root {
  /* colors */
  --background: rgb(243, 243, 243);
  --white: #fff;
  --black: #222;
  --primary: rgb(1, 243, 243);
  --primary-tint: #444fff;
  --secondary: #222;
  /* fonts */
  --body-font-size: 16px;
  --form-font-size: 16px;
  --heading-font-size: 22px;
  --heading-font-family: 'Inter', sans-serif;
  /*--heading-font-family: "Work Sans", sans-serif;*/
  --heavy-font-family: "Inter", cursive;
  --body-font-family: 'Inter', sans-serif;
  --body-font-weight: "normal";
  --heading-font-weight: 600;
  --heading-line-height: 24px;
  --body-line-height: 24px;
  /* border */
  --border: 1px solid #e5e7eb;
  --border-radius: 0px;
  --form-border-radius: 0px;
}
